/**
colors
https://coolors.co/809bce-95b8d1-b8e0d2-d6eadf-eac4d5

809bce Wisteria Blue
95b8d1 Powder Blue
b8e0d2 Pearl Aqua 
d6eadf Honeydew
eac4d5 Pastel Petal 
**/

body {
    background-color: var(--wisteria-blue);
    color: rgba(43, 20, 213, 0.471);
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Cinzel", serif !important;
}
div,body,p, .font-mont {
  font-family: "Montserrat", sans-serif !important;
}
